.advantages {
  padding-top: 37px;
  padding-bottom: 39px;

  background-color: $bg-color;
}

.advantages__wrapper {
  text-align: center;
  padding: 0;

  h2 {
    font-family: $ff-alumni;
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 40px;
    letter-spacing: 0.06rem;
  }
}

.advantages__container-info {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages__block {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0 auto;
    text-align: center;
    width: calc(100% - 65px);
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
  }

  .advantages__block-wrapper {
    text-align: center;
    margin-bottom: 9px;
  }
}

.advantages__info {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;

  h3 {
    margin: 0;
    margin-bottom: 7px;

    font-size: 20px;
  }
}

.advantages__block--top {
  position: relative;

  padding-bottom: 27px;
}

.advantages__block--bottom {
  padding-top: 49px;
}

.advantages__block--right.advantages__block--top {
  padding-bottom: 250px;
}

.advantages__block--right.advantages__block--bottom {
  padding-top: 30px;
}

.advantages__center-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  bottom: 373px;


  width: 110%;
  min-height: 239px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
  margin-bottom: 41px;
  background-color: #1c3374;
  color: $color-default-white;

  b {
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 5px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    width: 172px;
    margin: 0 auto;
    margin-top: 2px;
  }

  .advantages__center-number {
    font-size: 74px;
    line-height: 65px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 42px;
  }
}

.advantages__block-wrapper {
  span:first-child {
    display: block;

    font-weight: 700;
    font-size: 58px;
    line-height: 61px;

    background: linear-gradient(120deg, rgba(237, 2, 51, 1) 30%, rgba(6, 61, 180, 1) 55%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  span:last-child {
    display: block;
    margin-top: -3px;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    color: #2e35ac;
  }
}

@media (min-width: $tablet) {
  .advantages {
    padding-top: 56px;
    padding-bottom: 88px;
  }

  .advantages__wrapper {
    h2 {
      font-size: 42px;
      line-height: 50px;
      margin-bottom: 44px;
    }
  }

  .advantages__container-info {
    flex-direction: row;
    padding-left: 0;
    padding-right: 0;
    gap: 5px;
  }

  .advantages__block--right {
    margin-left: 23px;
    padding-left: 0;
  }

  .advantages__block--right.advantages__block--top {
    padding-bottom: 285px;
  }

  .advantages__block {
    flex-direction: row;
    width: 324px;
    height: 100%;
    align-items: start;

    p {
      width: 227px;
      text-align: left;
    }

    .advantages__block-wrapper {
      margin-top: 0;

      span:first-child {
        background: linear-gradient(120deg, rgba(237, 2, 51, 1) 0, rgba(6, 61, 180, 1) 70%);
        background-clip: text;
      }
    }
  }

  .advantages__block--top {
    padding-bottom: 44px;

    &::after {
      content: none;
    }
  }

  .advantages__block--bottom {
    padding-top: 31px;
  }

  .advantages__block--left {
    padding-left: 0;
  }

  .advantages__block-wrapper {
    span:first-child {
      font-size: 58px;
      line-height: 50px;
    }

    span:last-child {
      margin-top: 0;
      text-align: left;
    }
  }

  .advantages__info {
    margin-left: 32px;

    h3 {
      text-align: left;
      margin-top: 0;
      margin-bottom:6px;
      font-size: 20px;
    }
  }

  .advantages__center-wrapper {
    bottom: 48%;
    top: 48%;
    transform: translate(-50%, -50%);
    width: 442px;

    b {
      font-size: 22px;
      line-height: 33px;
      margin-bottom: 13px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
    }

    .advantages__center-number {
      margin-top: 37px;
      margin-bottom: 5px;
    }
  }
}

@media (min-width: 1070px) and (max-width: 1199px) {
  .advantages__container-info {
    column-gap: 65px;
}
}

@media (min-width: $desktop) {
  .advantages {
    padding-top: 70px;
    padding-bottom: 129px;
  }

  .advantages__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;

    h2 {
      font-size: 54px;
      letter-spacing: 0.1rem;
      line-height: 64px;
      margin-bottom: 39px;
      margin-top: 40px;
    }
  }

  .advantages__block--right.advantages__block--top {
    padding-bottom: 134px;
  }

  .advantages__block--left.advantages__block--top {
    padding-bottom: 134px;
  }

  .advantages__block--top {
    &::after {
      content: "";

      position: absolute;
      bottom: 64px;
      left: -18px;
      width: 340px;
      height: 2px;
      background-color: rgba(209, 10, 66, 0.2);
    }
  }

  .advantages__block--right.advantages__block--bottom {
    padding-top: 0;
  }


  .advantages__block--left {
    margin-right: 294px;
  }

  .advantages__block--bottom {
    padding-top: 0;
  }

  .advantages__block {
    width: 340px;

    p {
      text-align: left;
    }

    .advantages__block-wrapper {
      text-align: center;
      margin-bottom: 6px;
    }
  }

  .advantages__block-wrapper {
    span:first-child {
      font-size: 71px;
      line-height: 71px;
    }
  }

  .advantages__info {
    margin-right: auto;

    text-align: center;
    padding-top: 10px;

    h3 {
      margin-bottom: 12px;
      font-size: 22px;
    }
  }

  .advantages__center-wrapper {
    bottom: 48%;
    top: 48%;
    transform: translate(-50%, -50%);

    width: 240px;
    min-height: 307px;

    .advantages__center-number {
      margin-top: 58px;
      margin-bottom: 9px;
    }

    b {
      font-size: 26px;
      margin-bottom: 32px;
    }
  }

  .advantages__container-info {
    width: 1040px;
    padding-left: 20px;
  }
}
