.questions__answerm{
  display: flex;
}

.answer__list {
  display: none;

  &--active {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.answer__item {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-bottom: 31px;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    bottom: 22px;
    width: 100%;
    height: 1px;
    background-color: #1c337433;
  }

  &:first-child {
    &::before {
      content: "";
      position: absolute;
      bottom: calc(100% + 22px);
      width: 100%;
      height: 1px;
      background-color: #1c337433;
    }
  }
}

.answer__item-block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
  gap: 35px;
}

.answer__item-icon {
  display: flex;
  margin: auto;
  min-width: 32px;
  height: 32px;

  &--close {
    background: url(../img/svg/close.svg) no-repeat;
  }

  &--open {
    background: url(../img/svg/open.svg) no-repeat;

    &:hover,
    :focus {
      background: url(../img/svg/open-focus.svg) no-repeat;
    }
  }
}

.answer__item-questions {
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  margin: 0;

  color: #102654;
}

.answer__item-reply {
  display: none;

  &--active {
    display: flex;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    margin-bottom: 12px;
  }
}

@media (min-width: $tablet) {

  .answer__item-block {
    gap: 0;
    padding-bottom: 10px;
  }

  .answer__item-reply {
    font-size: 18px;
    line-height: 23px;
    padding-right: 118px;
  }

  .answer__item {

    padding-bottom: 0;

    &:first-child {
      &::before {
        bottom: calc(100% + 42px);

      }
    }
  }
  .answer__item-questions {
    font-size: 24px;
    line-height: 24px;
}
  .answer__list {
    padding-top: 0;
  }

  .answer__list--active  .answer__item{
    padding-bottom: 49px;
  }

  .answer__item-icon {
     margin: 0;
     background-size: 42px;
     width: 42px;
     height: 42px;
     margin-top: -9px;


     &--open {
       &:hover,
      :focus {
        background: url(../img/svg/close-focus-tablet.svg) no-repeat;
      }
     }
}

  .answer__item {
    padding-bottom: 50px;

    &::after {
      bottom: 35px;
  }

    &:first-child {
      &::before {
        bottom: calc(100% + 30px);

      }
    }
  }
}

@media (min-width: $desktop) {
  .answer__list {
    padding-top: 35px;
  }

  .answer__item:first-child::before {
    bottom: calc(100% + 36px);
  }

  .answer__item-reply {
    padding-right: 185px;
}
}
