.contacts {
  padding-bottom: 39px;
}

.valid {
  border: 1px solid green;
}

.invalid {
  border: 1px solid red;
}

.contacts__feedback {
  padding: 0 15px 70px;
  text-align: left;
  width: 100%;
  background-color: #102654;

  h2 {
    font-family: $ff-alumni;
    font-size: 32px;
    line-height: 38px;
    color: $color-default-white;
    letter-spacing: 0.06rem;
    padding-top: 64px;
    padding-bottom: 29px;
    margin: 0;
  }
}

.contacts__feedback-name {
  background-color: inherit;
    border: none;
    border-bottom: 1px solid #74819C;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 23px;

    font-family: $ff-roboto;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;

    &::placeholder {
      font-family: $ff-roboto;
      font-size: 14px;
      line-height: 16px;
      color: $color-default-white;
    }
}

.contacts__feedback-phone {
  background-color: inherit;
    border: none;
    border-bottom: 1px solid #74819C;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;

    font-family: $ff-roboto;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;

    &::placeholder {
      font-family: $ff-roboto;
      font-size: 14px;
      line-height: 16px;
      color: $color-default-white;
    }
}


.contacts__feedback-button {
  width: 100%;
  letter-spacing: 0.1rem;
  padding-top: 25px;
  padding-bottom: 21px;
}

.contacts__info {
  padding-top: 63px;

  h2 {
    font-family: $ff-alumni;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.06rem;
    color: #102654;
    padding-bottom: 38px;
    margin: 0;
  }
}

.contacts__info-wrapper {
  color: #102654;

  dt {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 9px;
  }

  dl {
    margin: 0;
  }

  dd {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 25px;

    margin: 0;
  }
}

.contacts__feedback-box {
  position: relative;
}

.contacts__erorr-phone {
    display: none;
    position: absolute;
    bottom: -31px;
    font-weight: 400;
    font-size: 14px;
    padding-bottom: 22px;
    color: #FF121F;
}

.contacts__erorr-name {
  display: none;
  position: absolute;
  bottom: -31px;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 22px;
  color: #FF121F;
}

@media (min-width: $tablet) {
  .contacts__feedback {
    padding: 0 133px 70px;

    h2 {
      font-family: $ff-alumni;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 0.1rem;
      padding-top: 63px;
      padding-bottom: 28px;
      margin: 0;
    }
  }

  .contacts__feedback-form {

    input {
      background-color: inherit;
      border: none;
      border-bottom: 1px solid #74819C;
      width: 206px;
      padding: 10px 0;
      margin-bottom: 20px;
    }

  }
  .contacts__feedback-button {
    width: calc(100% - 27px);
}

  .contacts__feedback-block {
    display: flex;
    gap: 60px;
  }

  .contacts__info {
    padding: 70px 133px 0;
  }

  .contacts__info-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 285px;
      bottom: 40px;
      width: 1px;
      height: 160px;
      background-color: #74819C;
    }
  }
}

@media (min-width: $desktop) {

  .contacts {
    padding-bottom: 0;
  }

  .contacts__feedback {
    padding: 0 103px 70px;

    h2 {
      font-family: $ff-alumni;
      font-size: 54px;
      line-height: 84px;
    }
  }

  .contacts__wrapper {
    display: flex;
  }

}
