.contacts {
  padding-bottom: 39px;
}

.contacts__feedback {
  padding: 0 15px 65px;
  text-align: left;
  width: 100%;
  background-color: #102654;

  h2 {
    font-family: $ff-alumni;
    font-size: 32px;
    line-height: 38px;
    color: $color-default-white;
    letter-spacing: 0.06rem;
    padding-top: 64px;
    padding-bottom: 34px;
    margin: 0;
  }
}

.contacts__feedback-name {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #74819c;
  width: 100%;
  padding: 7px 0;
  margin-bottom: 26px;

  font-family: $ff-roboto;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;

  &::placeholder {
    font-family: $ff-roboto;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
  }
}

.contacts__feedback-phone {
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #74819c;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 30px;

  font-family: $ff-roboto;
  font-size: 14px;
  line-height: 16px;
  color: $color-default-white;

  &::placeholder {
    font-family: $ff-roboto;
    font-size: 14px;
    line-height: 16px;
    color: $color-default-white;
  }
}


.contacts__feedback-button {
  width: 100%;
  letter-spacing: 0.1rem;
  padding-top: 24px;
  padding-bottom: 30px;
  height: 52px;
  margin-top: 4px;
}

.contacts__info {
  padding-top: 68px;

  h2 {
    font-family: $ff-alumni;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.06rem;
    color: #102654;
    padding-bottom: 38px;
    margin: 0;
  }
}

.contacts__info-wrapper {
  color: #102654;

  dt {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 9px;
  }

  dl {
    margin: 0;
  }

  dd {
    font-weight: 400;
    font-size: 18px;
    padding-bottom: 25px;

    margin: 0;
  }
}

.contacts__feedback-box {
  position: relative;
}

.contacts__erorr-phone {
  display: none;
  position: absolute;
  bottom: -31px;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 22px;
  color: #ff121f;
}

.contacts__erorr-name {
  display: none;
  position: absolute;
  bottom: -31px;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 22px;
  color: #ff121f;
}

@media (min-width: $tablet) {
  .contacts__feedback {
    padding: 0 133px 68px;

    h2 {
      font-family: $ff-alumni;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 0.1rem;
      padding-top: 63px;
      padding-bottom: 28px;
      margin: 0;
    }
  }

  .contacts__feedback-box {
    width: 100%;
  }

  .contacts__feedback-form {
    input {
      background-color: inherit;
      border: none;
      border-bottom: 1px solid #74819c;
      width: 93%;
      padding: 8px 0;
      margin-bottom: 25px;
    }
  }

  .contacts__feedback-button {
    width: calc(100% - 27px);
  }

  .contacts__feedback-block {
    display: flex;
    gap: 60px;
  }

  .contacts__info {
    padding: 62px 133px 0;

    h2 {
      font-weight: 600;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 0.06rem;
      padding-bottom: 35px;
    }
  }

  .contacts__info-wrapper {
    display: flex;
    gap: 96px;

    .contacts__info-column:last-child {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: -47px;
        bottom: 31px;
        width: 1px;
        height: 129px;
        background-color: #74819c;
      }
    }
  }
}

@media (min-width: $desktop) {
  .contacts {
    padding-bottom: 0;
  }

  .contacts__feedback {
    padding: 0 151px 67px 102px;
    flex-basis: 100%;

    h2 {
      font-family: $ff-alumni;
      font-size: 54px;
      line-height: 84px;
      padding-top: 56px;
      letter-spacing: 0.14rem;
      padding-bottom: 13px;
    }
  }

  .contacts__wrapper {
    display: flex;
  }

  .contacts__feedback-box {
    width: 100%;
  }

  .contacts__feedback-form input {

    width: 93%;
    padding: 8px 0;
    margin-bottom: 25px;
  }

  .contacts__feedback-block {
    gap: 32px;
  }

  .contacts__feedback-button {
    width: calc(100% - 17px);
  }

  .contacts__info {
    padding: 59px 99px 0 115px;
    margin-left: 7px;
    flex-basis: 100%;

    h2 {
      font-size: 54px;
      line-height: 64px;
      letter-spacing: 0.1rem;
    }
  }

  .contacts__info-wrapper {
    gap: 0;
    justify-content: space-between;

    margin-left: 5px;

    dt {
      font-size: 16px;
      padding-bottom: 3px;
    }

    dl {
      margin: 0;
    }

    dd {
      font-size: 14px;
      padding-bottom: 16px;

      margin: 0;
    }

    .contacts__info-column:last-child {
      position: relative;

      &::after {
        left: -25%;
        bottom: 24px;
        height: 102px;
      }
    }
  }
}

@media (min-width: 1366px) {
  .contacts__info-wrapper {
    .contacts__info-column:last-child {
      margin-right: 23px;

      &::after {
        left: -55%;
      }
    }
  }

  .contacts__feedback {
    padding: 0 151px 67px 102px;
  }

  .contacts__info {
    padding: 59px 136px 0 115px;
  }
}
