.feedback {
  padding-top: 20px;
  padding-bottom: 67px;
  text-align: center;

  h2 {
    font-family: $ff-alumni;
    font-size: 32px;
    line-height: 38px;
    margin: 0;
    padding-bottom: 42px;
  }
}

.feedback__wrapper {
  position: relative;
}

.feedback__list {
  padding: 0;
  margin: 0;
  min-width: 290px;
  height: 100%;
}

.feedback__item {
  width: 226px;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 25px;
  background-color: #1C3374;

  h3 {
    font-size: 20px;
    line-height: 26px;
    color: $color-default-white;
    margin: 0;
    text-align: left;
    width: 63px;
    margin-top: 14px;
  }

  p{
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;
    margin: 0;
    width: 176px;
  }

  img {
    margin-top: 2px;
    margin-left: 15px;
    width: 68px;
    height: 68px;
  }
}

.feedback__item-wrapper {
  display: flex;
  gap: 15px;
  padding-bottom: 20px;
}

.feedback__button-prev,
.feedback__button-next {
  position: absolute;
  bottom: 160px;

  width: 51px;
  height: 19px;
  padding: 0;

  font: inherit;

  color: $price-shadow-color;
  background: center no-repeat;

  border: none;
  opacity: 1;
  z-index: 2;

  cursor: pointer;

  &::after {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.feedback__button-prev {
  left: -18px;
  background-image: url("../img/svg/icon-prev.svg");
}

.feedback__button-next {
  right: -18px;
  background-image: url("../img/svg/icon-next.svg");
}

@media (min-width: $tablet) {
  .feedback {
    padding-top: 36px;
    padding-bottom: 100px;
    text-align: center;

    h2 {
      font-family: $ff-alumni;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 0.06rem;
      margin: 0;
      padding-bottom: 40px;
    }
  }

  .feedback__list {
    min-width: 566px;
  }

  .feedback__item {
    width: 566px;
    padding: 58px 65px;
    position: relative;

    h3 {
      font-size: 20px;
      line-height: 15px;
      min-width: 200px;
      margin-left: 108px;
      margin-top: 6px;
    }

    p {
      margin-left: 108px;
      text-align: left;
      width: 328px;
    }

    .feedback__img {
      position: absolute;

      img {
        width: 80px;
        height: 80px;
        margin-top: 5px;
        margin-left: 0;
      }
    }
  }

  .feedback__item-wrapper {
    padding-bottom: 18px;
}

  .feedback__button-prev,
  .feedback__button-next {

    bottom: 104px;
    height: 32px;
  }

}

@media (min-width: $desktop) {

  .feedback__button-prev {
    left: 200px
  }

  .feedback__button-next {
    right: 200px
  }
}
