.feedback {
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;

  h2 {
    font-family: $ff-alumni;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.06rem;
    margin: 0;
    padding-bottom: 42px;
  }
}

.feedback__wrapper {
  position: relative;
}

.feedback__list {
  padding: 0;
  margin: 0;
  min-width: 290px;
  height: 100%;
}

.feedback__item {
  display: flex;
  flex-direction: column;
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  padding: 35px 25px;
  background-color: #1c3374;

  h3 {
    font-size: 20px;
    line-height: 26px;
    color: $color-default-white;
    margin: 0;
    text-align: left;
    width: 63px;
    margin-top: 14px;
  }

  p {
    font-size: 16px;
    line-height: 22px;
    color: $color-default-white;
    margin: 0;
    width: 100%;
  }

  img {
    margin-top: 4px;
    width: 68px;
    height: 68px;
  }
}

.feedback__item-wrapper {
  display: flex;
  gap: 15px;
  padding-bottom: 17px;
  padding-left: 17px;
}

.feedback__button-prev,
.feedback__button-next {
  position: absolute;
  bottom: calc(50% - 15px);

  width: 30px;
  height: 30px;
  padding: 0;

  font: inherit;

  color: $price-shadow-color;
  background: center no-repeat;

  border: none;
  opacity: 1;
  z-index: 2;

  cursor: pointer;

  &::after {
    display: none;
  }
}

.feedback__button-prev {
  left: -10px;
  background-image: url("../img/arrow-prev-tablet.png");
  background-size: 10px 19px;

  &:hover,
  &:focus {
    background-image: url("../img/arrow-prev-focus.png");
    background-size: 32px;
  }

  &:active {
    background-image: url("../img/arrow-prev-active.png");
    background-size: 32px;
  }
}

.feedback__button-next {
  right: -10px;
  background-image: url("../img/arrow-next-tablet.png");
  background-size: 10px 19px;

  &:hover,
  &:focus {
    background-image: url("../img/arrow-next-focus.png");
    background-size: 32px;
  }

  &:active {
    background-image: url("../img/arrow-next-active.png");
    background-size: 32px;
  }
}

@media (min-width: $tablet) {
  .feedback {
    padding-top: 36px;
    padding-bottom: 98px;
    text-align: center;

    h2 {
      font-family: $ff-alumni;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 0.06rem;
      margin: 0;
      padding-bottom: 40px;
    }
  }

  .feedback__list {
    min-width: 566px;
  }

  .feedback__item {
    width: 566px;
    padding: 58px 65px;
    position: relative;

    h3 {
      font-size: 20px;
      line-height: 15px;
      min-width: 200px;
      margin-left: 108px;
      margin-top: 6px;
    }

    p {
      margin-left: 108px;
      text-align: left;
      width: 328px;
    }

    .feedback__img {
      position: absolute;

      img {
        width: 80px;
        height: 80px;
        margin-top: 5px;
        margin-left: 0;
      }
    }
  }

  .feedback__item-wrapper {
    padding-bottom: 18px;
    padding-left: 0;
  }

  .feedback__button-prev,
  .feedback__button-next {
    background-size: 16px 32px;
    bottom: calc(50% - 28px);
    width: 58px;
    height: 58px;
  }

  .feedback__button-prev {
    left: -20px;

    &:hover,
    &:focus {
      background-size: 56px;
    }

    &:active {
      background-size: 56px;
    }
  }

  .feedback__button-next {
    right: -20px;

    &:hover,
    &:focus {
      background-size: 56px;
    }

    &:active {
      background-size: 56px;
    }
  }
}

@media (min-width: $desktop) {
  .feedback {
    padding-top: 117px;
    padding-bottom: 119px;
    text-align: center;

    h2 {
      font-family: $ff-alumni;
      font-size: 54px;
      line-height: 64px;
      letter-spacing: 0.1rem;
      padding-bottom: 38px;
    }
  }

  .feedback__button-prev {
    left: 155px;
  }

  .feedback__button-next {
    right: 155px;
  }
}

@media (min-width: 1366px) {
  .feedback__button-prev {
    left: 222px;
  }

  .feedback__button-next {
    right: 222px;
  }
}
