.header-wrapper {
  background-color: #b80027;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  // background-position: center left -10px;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background@2x.jpg");
  }
}
