.info {
  margin: 0 auto;
  max-width: 660px;
  width: 100%;

  position: relative;

  display: flex;
  flex-direction: column;
  padding: 37px 0;
}

.info__text {
  padding: 0 15px 17px;
  text-align: left;

  h2 {
    font-family: $ff-alumni;
    font-weight: 600;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.06rem;
    margin-bottom: 4px;
  }

  b {
    display: block;
    margin-bottom: 25px;

    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
  }

  p {
    padding-right: 27px;

    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
  }
}

.info__desktop {
  display: none;
}

.info__img {
  width: 100%;
  height: 313px;
  object-fit: cover;
  margin: 0 auto;
  margin-bottom: 40px;
  background-color: #F8F9FC;
}

.info__video {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  width: 320px;
  height: 167px;

  .info__video-cover {
    position: relative;

    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;

      width: 100%;
      height: 100%;

      background-color: rgba(20, 54, 122, 0.5);
    }

    &:hover,
    &:focus {
      &::after {
        background-color: rgba(20, 54, 122, 0.3);
      }
    }
  }

  img {
    display: block;
  }
}

.info__video-player {
  display: none;

  iframe {
    border: 0;
  }
}

.info__video-button {
  position: absolute;

  top: 57%;
  left: 54%;
  transform: translate(-50%, -50%);
  z-index: 5;

  width: 100px;
  height: 100px;

  background: url("../img/player-button.png") no-repeat 0 0;
  background-size: 73px;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    background: url("../img/player-button-hover.png") no-repeat 0 0;
    background-size: 73px;
  }

  &:active {
    background: url("../img/player-button-active.png") no-repeat 0 0;
    background-size: 73px;
  }
}

@media (min-width: $tablet) {
  .info {
    max-width: 678px;
    flex-direction: column;
    align-items: center;

    padding: 100px 0 145px;
  }

  .info__text {
    width: 100%;

    margin-right: 0;
    padding: 0 20px 43px;
    text-align: center;

    h2 {
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 0.06rem;
      margin-top: 0;

      margin-bottom: 2px;
    }

    p {
      margin: 0 auto;
      max-width: 502px;
      padding-right: 0;
    }

    b {
      margin-bottom: 33px;
    }
  }

  .info__desktop {
    display: none;
  }

  .info__img {
    width: 678px;
    height: 345px;
  }

  .info__video {
    position: absolute;
    bottom: 103px;
    left: 50%;
    transform: translateX(-50%);

    width: 266px;
    height: 167px;

    img {

      object-fit: cover;
    }
  }


  .video {
    width: 266px;
    height: 167px;
  }

  .info__video-button {
    width: 73px;
    height: 73px;
    border: none;

    top: 51%;
    left: 50%;

    background-size: 73px 73px;
  }
}

@media (min-width: $desktop) {
  .info {
    flex-direction: row;
    align-items: flex-start;
    max-width: 1260px;

    padding: 120px 50px 196px 110px;
  }

  .info__media {
    position: relative;
  }

  .info__text {
    width: 35%;
    text-align: left;

    margin-right: auto;
    padding-top: 40px;
    padding-left: 0;

    h2 {
      margin-bottom: 5px;
      font-size: 48px;
      line-height: 57px;
      letter-spacing: 0.09rem;
    }

    b {
      margin-bottom: 40px;
    }

    p {
      margin: 0;
      margin-bottom: 8px;
    }
  }

  .info__desktop {
    display: block;
  }

  .info__img {
    display: block;

    width: 660px;
    height: 401px;

    margin-bottom: 40px;
  }

  .info__video {
    position: absolute;
    bottom: -74px;
    left: 119px;

    width: 364px;
    height: 228px;
  }

  .video {
    width: 364px;
    height: 228px;
  }

  .info__video-button {
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
    top: 50%;
    left: 50%;
    border: none;

    &:hover,
    &:focus {
      background-size: 100px;
    }

    &:active {
      background-size: 100px;
    }
  }
}
