.page-footer {
  padding-top: 37px;
  padding-bottom: 44px;

  background-color: $footer-color;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  color: $color-default-white;
}

.page-footer__nav-list {
  display: block;
  width: 100%;

  column-count: 2;
  column-gap: 30px;
  padding: 0;

  margin-top: 14px;
  margin-bottom: -2px;
  list-style: none;
}

.page-footer__nav-item {
  margin-right: 0;
  margin-bottom: 16px;

  &:first-child {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.page-footer__nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: $color-default-white;

  img {
    width: 68px;
  }
}

.page-footer__networks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;

  max-width: 100%;
  margin-left: 0;

  li {
    margin-right: 11px;
  }
}

// .page-footer__icon {
//   fill: #ffffff;

//   &:hover {
//     fill: #103aae;
//   }

//   &:active{
//     fill: #102654;
//   }
// }

.page-footer__icon {
  --color-1: #ffffff;
  --color-2: #030a1a;

  &:hover {
    --color-1: #103aae;
    --color-2: #ffffff;
  }

  &:active{
    --color-1: #102654;
    --color-2: #ffffff;
  }
}

@media (min-width: $tablet) {
  .page-footer {
    padding-top: 30px;
    padding-bottom: 21px;
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
  }

  .page-footer__nav-list {
    display: flex;
    margin-left: 0;
  }

  .page-footer__nav-item {
    font-size: 14px;
    line-height: 16px;
    margin-top: 10px;

    &:first-child {
      margin-right: 32px;
      margin-top: 3px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .page-footer__nav-link {
    font-size: 14px;
    line-height: 16px;
  }

  .page-footer__nav-item--logo {
    img {
      width: 82px;
      height: 18px;
    }
  }

  .page-footer__networks {
    flex-wrap: wrap;
    margin-left: 46px;
    min-width: 97px;

    li {
      margin-right: 11px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

@media (min-width: $desktop) {
  .page-footer {
    padding-top: 9px;
    padding-bottom: 36px;
  }

  .page-footer__wrapper {
    justify-content: space-between;
    align-items: center;
  }

  .page-footer__nav-list {
    display: flex;
    flex-wrap: wrap;
    width: 794px;
    align-items: center;
    margin-top: 20px;
  }

  .page-footer__nav-item {
    margin-right: 10px;
    margin-bottom: 0;
    margin-top: -8px;
    padding-top: 10px;
    padding-bottom: 10px;

    &:first-child {
      margin-right: 247px;
      margin-bottom: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .page-footer__nav-item--logo {
    img {
      width: 88px;
      height: 32px;
    }
  }

  .page-footer__nav-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }

  .page-footer__networks {
    max-width: 130px;
    padding-top: 16px;

    li {
      margin-right: 11px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
