.trainers {

  padding-bottom: 70px;
  padding-top: 64px;

  h2 {
    font-family: $ff-alumni;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    margin: 0;
    margin-bottom: 42px;
    letter-spacing: 0.06rem;
  }
}

.trainers__wrapper {
  display: flex;
  position: relative;
}

.trainers__item {
  position: relative;

  width: 226px;
  height: 274px;
  margin-left: auto;
  margin-right: auto;

  h3 {
    position: absolute;
    left: 50%;
    bottom: 23px;
    transform: translate(-50%);
    z-index: -1;

    margin: 0;

    text-align: center;
    font-size: 18px;
    line-height: 27px;

    color: $color-default-white;
    white-space: nowrap;
  }

  &:hover,
  &:focus {
    .trainers__focus {
      opacity: 1;
    }

    h3 {
      display: none;
    }
  }
}

.trainers__img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;

  img {
    height: 100%;

    object-fit: cover;
  }
}

.trainers__focus {
  height: 100%;
  padding: 42px 24px 10px;
  text-align: center;
  overflow-y: auto;

  color: $color-default-white;
  background-color: rgba($text-color, 0.9);

  opacity: 0;
  transition: all 0.2s;

  p {
    margin: 0;

    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
  }
}

.trainers__focus-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
}

.trainers__focus-list {

  list-style: none;

  margin-top: 33px;
  padding-left: 11px;

  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  text-align: left;
}

.trainers__focus-item {
  position: relative;

  margin-bottom: 13px;
  padding-left: 16px;

  &:last-child {
    margin-bottom: 0;
  }

  &::after {
    content: "";

    position: absolute;
    left: 0;
    top: 7px;

    display: block;
    width: 6px;
    height: 6px;

    background-color: $color-default-white;
    border-radius: 50%;
  }
}

.trainers__button-prev,
.trainers__button-next {
  position: absolute;
  bottom: 127px;

  width: 35px;
  height: 35px;

  font: inherit;

  color: $price-shadow-color;
  background: center no-repeat;

  border: none;
  opacity: 1;
  z-index: 2;

  cursor: pointer;

  &::after {
    display: none;
  }
}

.trainers__button-prev {
  left: 0;
  background-image: url("../img/arrow-prev-phone.png");

  &:hover,
  &:focus {
    border: 1px solid $price-shadow-color;
    border-radius: 50%;
  }
}

.trainers__button-next {
  right: 0;
  background-image: url("../img/arrow-next-phone.png");

  &:hover,
  &:focus {
    border: 1px solid $price-shadow-color;
    border-radius: 50%;
  }
}

@media (min-width: $tablet) {
  .trainers {
    padding-top: 100px;
    padding-bottom: 100px;

    h2 {
      margin-bottom: 33px;
      font-size: 42px;
      line-height: 50px;
      letter-spacing: 0.06rem;
    }
  }

  .trainers__wrapper {
    flex-direction: row;
    max-width: 678px;
    margin: 0 auto;
  }

  .trainers__slider {
    max-width: 566px;
  }

  .trainers__item {
    width: 268px;
    height: 294px;
  }

  .trainers__focus {
    padding: 51px 44px 10px;
    text-align: center;

    p {
      margin-left: -8px;
    }
  }

  .trainers__focus-name {
    margin-left: -8px;
  }

  .trainers__button-prev,
  .trainers__button-next {
    bottom: 129px;
    width: 46px;
    height: 46px;
    padding: 0;
  }

  .trainers__button-prev {
    left: -15px;
    background-image: url("../img/arrow-prev-tablet.png");
  }

  .trainers__button-next {
    right: -15px;
    background-image: url("../img/arrow-next-tablet.png");
  }
}

@media (min-width: $desktop) {
  .trainers {
    padding-bottom: 100px;
    padding-top: 108px;

    h2 {
      font-size: 54px;
      line-height: 64px;
      letter-spacing: 0.1rem;
      margin-bottom: 49px;
      text-align: left;
    }
  }

  .trainers__wrapper {
    max-width: 860px;

  }

  .trainers__slider {
    max-width: 860px;
  }

  .trainers__item {
    width: 260px;
    min-height: 294px;
  }

  .trainers__focus {
    height: 100%;
    padding: 50px 43px 10px;

    p {
      margin-left: 0;
    }
  }
  .trainers__focus-name {
    margin-left: 0;
}

  .trainers__button-prev,
  .trainers__button-next {
    top: 42%;

    width: 46px;
    height: 46px;
  }

  .trainers__button-prev {
    left: -69px;
  }

  .trainers__button-next {
    right: -69px;
  }
}

@media (min-width: 1366px) {
  .trainers__wrapper {
    max-width: 1160px;
  }

  .trainers__slider {
    max-width: 1160px;
  }
}
